body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	  width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .loader-box{
    position: relative;
    width: 300px;
    height: 300px;
    animation: RotateBox 10s linear infinite;
}
@keyframes RotateBox{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container .loader-box .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3d4859;
    border-radius: 50%;
    animation: Rotated 5s linear infinite;
}
@keyframes Rotated{
    0%
    {
        transform: scale(1);
        transform-origin: left;
    }
    50%{
       transform: scale(0);
       transform-origin: left; 
    }
    50.1%{
        transform: scale(0);
        transform-origin: right; 
     }
    100%{
        transform: scale(1);
        transform-origin: right;
    }
}
.container .loader-box .circle:nth-child(2){
    background: #d78820;
    animation-delay: -2.5s;
}
.loader-title{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #1c2534;
}



nav{
	background: #344051;
	position: fixed;
	display: block;
	height: 60px;
	width: 100%;
	z-index: 10;
}
.logo {
float: left;
font-size: 23.4px;
line-height: 60px;
font-weight: 500;
letter-spacing: -0.06em;
color: #ffffff;
padding: 0 0 0 200px;
}
.menu {
	float: left;
	padding: 0 0 0 150px;
}
.menu li a{
	color: #ffffff;
	transition: all 0.1s;
	}
.menu li a:hover{
   color: #d17700;
}
.menu li a:active {
    display: inline-block;
    color: #d17700;
    transform: scale(1.1);
   
    }
.menu li {
	font-size: 16.7px;
	letter-spacing: -0.06em;
	float: left;
    text-transform: uppercase;
    margin: 0px 40px 0 0;
    line-height: 60px;
}


@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.menu li {
	opacity: 0;
	animation: move 0.4s ease forwards;
	
}
@keyframes move {
    from {
        margin-top: -50px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;

    }
}
.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.9s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}



.logo{
    animation: comming 3s ease;

}


.title {
   width: 100%;
   height: 1067px;
   background: url(../img/paren_117.png) 100% 90%/auto 75%  no-repeat, url(../img/fon_11.jpg) center no-repeat;
     

   }
.title__container h1{
	font-size: 40px;
	line-height: 50px;
	font-weight: 600;
	letter-spacing: -0.06em;
}
.title__container{
   color: #2c384a;
   float: left;
   text-aligne center;
   margin: 470px 0 0 150px;

   
}
.title__container h2{
	font-size: 20px;
	line-height: 50px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #6d7682;
	margin: 17px 0 0 0;
}
.title__container input{
	border: 2px solid #6d7682;
	margin:25px 10px 0px 10px;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	background: none;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	letter-spacing: -0.06em;
	text-align: center;

}

.title__container input:active{
	display: inline-block;
	animation: shakeY;
	animation-duration: 0.9s;
}
.title__container input:hover{
	background-color: #d17700;
}

.title__container {
	animation: titlemove 2s ease forwards;
}


@keyframes titlemove{
	0%{
		margin-left: -600px;
	}

	100%{
		margin-left: 200px;
	}
}


.about_me__conteiner h3{
	
	width: 96px;
	margin: 90px auto;
	padding-bottom: 5px ;
	width: 130px;
	border-bottom: 4px solid #d17700 ;
}
.subtitle{
	font-size: 30px;
	line-height: 20px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #263244;
   text-align: center;
}

.about_me{
	transform-style: preserve-3d;
}

.about_me__conteiner{
	margin: 0 auto;
	width: 740px;
}
.about_me__conteiner img{
	margin: 0 auto;
	display: block;
}
.about_me__text {
	font-size: 15px;
	line-height: 15px;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
	margin: 22px 0 33px 0;
}
.about_me__text .text1 {
	margin: 0 0 40px 0;
}

.about_me__input input{
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	
   border: 3px solid #6f707e;
	border-radius: 6px;
	width: 180px;
	height: 40px;
	text-align: center;
   cursor: pointer;
}
.about_me__input  input{
	background: url('../img/ikonka_102.jpg') 10% 50% no-repeat ;   
   padding: 0 0 0 30px;

}
.about_me__input{
   margin: 35px 0 100px 290px;
}


.skills {
	background: url(../img/kartinka_fona_60.jpg);
	height: 523px;
	background-position: center;

	}
.skills__container {
	margin: 0 auto;
	width: 920px;
	
}
.skills__container h4{
   
   padding: 107px 0 31px 0;
}
.skills__container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 73px;
    margin: 0 auto;
}
.skills_item {
	width: 230px;
	text-align: center;
	float: left;
	margin:100px 0 0 0;
}

.skills_item h5{

	font-size: 18.6px;
	line-height: 20px;
	font-weight: 600;
	letter-spacing: -0.06em;
	color: #cf7600;
	text-align: center;
}
.skills_item p{
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
	margin:12px 0 0 0 ;
}
.skills_item img{
	margin: 0 0 30px 0;
	height: 37px;
}


.cases {
	margin: 107px 0 0 0;
}
.cases__conteiner {}
.cases__item {
	margin:0 0 30px 0;

}

.cases__item hr{
   background: #d17700;
  	width: 73px;
	margin: 0 auto;
	height: 4px;
	border: none;
}
.cases__text{
	text-align: center;
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
	margin: 37px 0 0 0;
}
.cases__text img{
	margin: 37px 0 0 0;
}

.cases__column1 h2{
	font-size: 25px;
	line-height: 20px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #384354;
}
.cases__column1 p{
   font-size: 16.7px;
   line-height: 1.2;
   font-weight: 400;
   letter-spacing: -0.06em;
   color: #3f495a;
}
.cases__column2 h2{
	font-size: 25px;
	line-height: 20px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #384354;
	margin: 0 0 6px 0;
}
.cases__column1 p{
	font-size: 20.9px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
	margin: 15px 0 15px 0;
}
.cases__column2{
	margin: 35px 0 0 0;
}
.cases__column1{
	float: left;
	margin: 40px 100px 0 50px;
}

.cases__column1 input{
	width: 201px;
	height: 44px;
	background-color: #63b5ae;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;

	font-size: 20.9px;
	line-height: 20px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #ffffff;
}
.cases__column1 input:active{
	display:block;
	transform: rotate(45deg);
	transform-origin: left top;

}


.clear{
	clear:left;
}
.price {
	margin: 200px 0 0 0;
}
.price__conteiner {}
.price__conteiner h3{
	font-size: 45.9px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #1c2534;
	text-align: center;
}
.price__item {
	margin: 0 auto;
	width: 891px;
}
.price__item h4{
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 0.02em;
	color: #1c2534;
}
.price__item select{
	width: 891px;
	height: 57px;
	background-color: #eeeeee;
	border: 1px solid #eeeeee;

	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 0.02em;
	color: #737373;

}

.statistics {
	background: url(../img/fon_150.jpg) center no-repeat;
	height: 400px;
	margin: 98px 0 0 0;
 background-attachment: fixed;
  background-size: cover;

 
}
.statistics_conteiner {
   margin: 0 auto;
	width: 920px;
}
.statistics_conteiner h2{
	text-align: center;
	font-size: 33.4px;
   line-height: 40px;
   font-weight: 500;
   letter-spacing: -0.06em;
   color: #323e4f;
   padding: 50px 0 0 0;
   margin: 0 0 32px 0;
}

.statistics_conteiner hr{
	border-bottom: 4px solid #d17700;
	width: 73px;
	margin: 0 auto;
	
}
.statistics_column {
	width: 230px;
	text-align: center;
	float: left;
	margin:88px 0 0 0;
	
	
}
.statistics_column p{
	font-size: 16.7px;
	line-height: 20px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #323e4f;
}
.statistics_column h6{
	font-size: 37.5px;
	line-height: 20px;
	font-weight: 600;
	color: #323e4f;
	margin: 32px 0 28px 0;
}
.statistics_column img{
	height: 52px;

}

.reviews {
}
.reviews_conteiner h3{
	margin: 104px 0 34px 0;
}
.reviews_conteiner hr{
	margin: 0 auto;
	border-bottom: 5px solid  #d17700;
	width: 71px;
}
.reviews__item {
	text-align: center;
}
.reviews__item img{
	margin: 58px 33px;
}
.reviews__item p{
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #243042;
	margin: -15px 0 48px 0;
}
.reviews__item span{
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: -0.06em;
	color: #243042;
}
.contacts {
	margin: 91px 0 0 0;
	
	
}
.contacts__conteiner {
	background: url(../img/fon_180.jpg) center no-repeat;
	height: 808px;
   
}
.contacts__item {
	margin: 0 auto;
	width: 732px;
}
.contacts__item1 h4{
	font-size: 33.4px;
	line-height: 30px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #ffffff;
	text-align: center;
	padding: 105px 0 0 0;
	margin: 0 0 32px 0;
}
.contacts__item1 hr{
	width: 71px;
	border-bottom: 5px solid #d17700;
	margin: 0 auto;
}
.contacts__item1 p{
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #ffffff;
	text-align: center;
	margin: 31px 0 47px 0;
}
.contacts__item2 p{
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #ffffff;
}
.contacts__item2 {
	float: left;
	text-align: center;
	width: 230px;
}
.contacts__item3 h5{
	font-size: 20.9px;
	line-height: 30px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #ffffff;
	text-align: center;
	margin: 37px 0 0 0;
}
.button1{
	width: 352px;
	height: 34px;
	margin: 0 24px 0 0;
	background-color: #ced0d4;
}
.button2{
	width: 352px;
	height: 34px;
	background-color: #ced0d4;
}
.button3{
	width: 732px;
	height: 94px;
	margin: 14px 0 28px 0;
	background-color: #ced0d4;
}
.button4{
	font-size: 20.9px;l
	ine-height: 30px;
	font-weight: 500;
   letter-spacing: -0.06em;
	color: #ffffff;
	text-align: center;
	

	width: 125px;
	height: 46px;
	border: 2px solid #f9faff;
	border-radius: 5px;
	cursor: pointer;
   margin: 0 auto;
   display: block;
   background-color: #343f50;

}
.contacts__item3 form{
	max-width: 732px;
	margin: 43px 0 0 0;
}

.contacts__kart img{
   width: 100%;
}



.contact__kart{
    
}


.footer {	
	
}
.conteiner {
 background-color:#354051 ;
	height: 66px;
}
.footer__text p{
	font-size: 13.3px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #ffffff;
	padding: 25px 0 0 0;
   text-align: center;

}